


<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
      <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .container { margin-left: auto; margin-right: auto; border-radius: 10px; }
      h4 { font-size: 30px; color: blueviolet }
    </style>
    <title>Miles E-shop Api</title>
  </head>
  <body>
    <div>
      <h2
        style='color:#3563E9;
      padding-top: 20px;
      text-align: center;
      font-size: 25px;
      font-weight: 600; white-space: nowrap;'
      >Welcome To Miles E-shop</h2>
      <div class='container'>
        <div>
          {{! dont forget to design this page }}
          <p class="text-red-500 text-3xl font-bold text-center">This welcome page will be designed soon</p>
          <p
            style='font-weight: 600; font-size: 16px; color:#3563E9; padding:3px; text-align: center;'
          >Front end coming soon...NextjS in view.</p>

          <p
            style='font-weight: 600; font-size: 16px; color:#3563E9; padding:3px; text-align: center;'
          >Visit the Api here
            <a href='http://localhost:9000/eshop-api#/'>Miles E-shop Api</a></p>

        </div>
      </div>
    </div>
  </body>

</html>